/* regole generali di pagina */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{

}
#conteiner{
    width: 80%;
    margin: 20px auto;
}

header {
    padding 10px;
}
header span{

}
#logo{
 height: 100px;
 width: auto;
}